html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif, -apple-system;
  background-color: #ffca32;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
